   <!-- Footer -->
  <footer  class="footer">
    <div id="About-section" class="footer-container">
      <div class="footer-section">
        <h3>About TastyEats</h3>
<p>At TastyEats, we believe smart cooking is the future. That’s why we built an AI that helps you explore recipes, improve your skills, and enjoy food like never before — all with just one question.</p>

      </div>
      
      {% comment %} <div class="footer-section">
        <h3>Opening Hours</h3>
        <p>Monday - Friday: 11am - 10pm</p>
        <p>Saturday - Sunday: 10am - 11pm</p>
      </div> {% endcomment %}
      
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a href="/chefbot">Home</a></li>
          
          <li><a href="#">Reservations</a></li>
          <li><a href="#">Gallery</a></li>
          
        </ul>
      </div>
      
      <div id="contact-section" class="footer-section">
        <h3>Connect With Us</h3>
        
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@tastyeats.com</p>
        <div class="social-links">
          <a href="#" class="social-link">FB</a>
          <a href="#" class="social-link">X</a>
          <a href="#" class="social-link">I</a>
          <a href="#" class="social-link">Y</a>
        </div>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy; 2025 TastyEats. All rights reserved to Kunal Chaudhary.</p>
    </div>
  </footer>

